
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/GenralMaster.cshtml";
}

<div class="row" style="background-image: url('../Content/img/ehd4.jpg');background-repeat:no-repeat;background-size:100% 100%;margin-top:-12%">
    <div class="col-lg-12" style="min-height: 500px; padding: 15px; font-size: 25px; font-family: Gabriola">
        <h1 style="color: blue; font-weight: bold; font-family: Gabriola; font-size: 40px;"><u>About of Project</u></h1>
        <ul>
            <li>Any user csn registered here and can upload his problem.</li>
            <li>All type of error or bugs will resolve by the portal.</li>
            <li> All registered User can  discuss into  the discussion form.</li>
            <li>Admin can see all details of registerd user. </li>
            <li>Admin can give notification to the user.</li>
            <li>Admin can add content on all pages and access all items in the Admin Toolbar.</li>
            <li>Admin can add and delete other admin users,and can approve or <br>deny edits made by authors.</li>
            <li>Admin is the role with the highest level of access to your website.</li>
            <li>Admin can control site-wide stting like the design of your website<br> and the homepage layout.</li>
        </ul>
        <br />       
    <h2 style="font-family:Gabriola;font-size:40px;font-weight:bold;color:blue;">About Some Programing Languages</h2>
        <br />
        <div class="row">
            <div class="col-sm-3" style="min-height:250px">
                <img src="~/Content/img/ab4.png" style="height:200px;width:300px" />
            </div>
            <div class="col-sm-4">
                <p><b><big>C++ </big></b>is one of the most popular programming language for graphical applications, such as those that run in Windows and Macintosh environments.</p>
            <a href="http://mtechnologies.org/">Read More</a>
            </div>
        <div class="col-sm-5"></div>
        </div>
    <div class="row">
            <div class="col-sm-3"style="min-height:250px">
                <img src="~/Content/img/ab3.jfif" style="height:200px;width:300px" />
            </div>
            <div class="col-sm-4">
                <p><b><big>Java</big></b>is highly cross-platform compatible or platform independent. Since you can code anywhere (I mean on all devices), compile into low-level machine code, and finally, execute on any platform using JVM – Java Virtual Machine (which is platform dependent).</p>
                <a href="http://mtechnologies.org/">Read More</a>
            </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="min-height:250px">
            <img src="~/Content/img/ab1.jfif" style="height:200px;width:300px" />
        </div>
            <div class="col-sm-4">
                <p><b><big>Python</big></b>is one of the general purpose, user-friendly programming language here on my list. What makes it so? Like Java, Python syntax is clear, intuitive and almost similar to the English language. Python’s “object-based” subset is somewhere similar to JavaScript.</p>
                <a href="http://mtechnologies.org/">Read More</a>
            </div>
        <div class="col-sm-5"></div>
            </div>
    <div class="row">
        <div class="col-sm-3" style="min-height:250px">
            <img src="~/Content/img/ab6.jfif" style="height:200px;width:300px" />
        </div>
            <div class="col-sm-4">
                <p><b><big>PHP</big></b>stands for Hypertext Preprocessor, is a general-purpose programming language. Clearly, PHP is a scripting language, which runs on a server, and it is used to create web pages written in HTML. It is popular because it is free, cheap, easy to set up and simple to use for new programmers.</p>
                <a href="http://mtechnologies.org/">Read More</a>
             </div>
        <div class="col-sm-5"></div>
        </div>
        </div>


